@import "./styleguide-variables.scss";

header {
  @include header-style;
  svg.logo path {
    fill: $color-text-primary;
  }
}

@media screen and (min-width: 769px) {
  header {
    button:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    button {
      z-index: 10;
      &:active {
        background: rgb(65, 65, 65);
        color: white;
      }
    }
  }
}
