@import "./styleguide-variables.scss";

.library-container {
  flex: 1 0 $library-width;
  height: 100%;
  background-color: $color-background-paper;
  box-shadow: -5px 0px 15px 0px rgba(174, 174, 174, 0.25) inset;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  width: $library-width;
}

.library-active {
  transform: translateX(0%);
}

.library-header {
  @include header-style;
}

.library-songs {
  height: 100%;
  overflow-y: scroll;
}

// Library song styles

.library-song {
  display: flex;
  align-items: center;
  padding: $spacing-2 $spacing-4;
  transition: background-color 0.5s ease;
  gap: $spacing-2;
  svg {
    width: 0;
    transition: all 0.5s ease;
  }
  &:hover {
    cursor: pointer;
    background-color: $color-background-elevation-2;
    svg {
      width: auto;
      margin-right: $spacing-1;
    }
  }
}

img.song-cover {
  width: 4rem;
  border-radius: 0.5rem;
}

.song-description {
  display: flex;
  flex-direction: column;
  gap: $spacing-0-5;
  min-width: 0;
  width: 100%;
  flex-shrink: 1;
  h4 {
    color: $color-text-primary;
    @include text-overflow;
  }
  h5 {
    color: $color-text-tertiary;
    @include text-overflow;
  }
}

.library-song svg {
  color: $color-text-primary;
}

.selected-song {
  background-color: $color-primary-highlight;
  &:hover {
    background-color: $color-primary-light;
  }
  svg,
  h4 {
    color: $color-primary-main;
  }
  svg {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .library-container {
    width: 100%;
  }
}

// Scrollbar styling

// Chrome, Edge, Safari
::-webkit-scrollbar {
  width: 6px;
  transition: all 0.5s ease;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-utility-transparent;
  border-radius: 3px;
}

.library-songs:hover::-webkit-scrollbar-thumb {
  background-color: $color-divider-transparent;
}

// Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: $color-utility-transparent;
}

.library-songs:hover > * {
  scrollbar-color: $color-divider-transparent;
}
