.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  gap: $spacing-5;
}

.time-control {
  width: 100%;
  display: flex;
  gap: $spacing-2;
  align-items: center;
}

.time-display-container {
  min-width: 2.5rem;
  margin: auto;
  h4 {
    color: var(--color-text-primary);
    text-align: center;
  }
}

.player-buttons {
  display: flex;
  align-items: center;
  gap: $spacing-8;
}

.play-button {
  padding-inline: 0;
  border-radius: 50%;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
  }
  &::-moz-range-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
  }
}

.input-track {
  background-image: linear-gradient(
    to right,
    var(--color-text-primary),
    var(--color-primary-main)
  );
  width: 100%;
  height: 0.75rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.animate-track {
  background: var(--color-background-elevation);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
  .player-buttons {
    width: 60%;
  }
}
