.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  gap: $spacing-5;
}

.time-control {
  width: 100%;
  display: flex;
  gap: $spacing-2;
  align-items: center;
}

.time-display-container {
  min-width: 2.5rem;
  margin: auto;
  h4 {
    color: var(--color-text-primary);
    text-align: center;
  }
}

.player-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .reset-playlist-button {
    grid-column-start: 1;
    justify-self: start;
  }
  .auxiliary-buttons {
    grid-column-start: 6;
    justify-self: end;
    display: flex;
    gap: $spacing-1;
  }
  .icon-button {
    @include tooltip(attr(data-tooltip));
  }
}

.main-buttons {
  grid-column-start: 2;
  grid-column-end: 6;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: $spacing-8;
}

.play-button {
  padding-inline: 0;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
  }
  &::-moz-range-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
  }
}

.input-track {
  background-image: linear-gradient(
    to right,
    var(--color-text-primary),
    var(--color-primary-main)
  );
  width: 100%;
  height: 0.75rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.animate-track {
  background: var(--color-background-elevation);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

@include media-query-for(mobile) {
  .player-container {
    gap: $spacing-2;
    padding: $spacing-2;
  }
  .input-track {
    height: 0.5rem;
    border-radius: 0.25rem;
  }
  .time-control {
    gap: $spacing-1;
  }
  .time-display-container h4 {
    @include text-style-h5;
  }
  .player-buttons {
    display: flex;
    justify-content: space-evenly;
    .fa-2x {
      font-size: 1.5rem;
    }
    .fa-4x {
      font-size: 3rem;
    }
  }
  .main-buttons {
    gap: $spacing-4;
  }
  .reset-song-button {
    display: none;
  }
}
