@import "./styleguide-variables.scss";

.song-container {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-5;
  cursor: url(.././assets/headphones-cursor.svg), auto;
  img {
    width: 20rem;
    border-radius: 1.5rem;
  }
  .song-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    h1,
    h4 {
      color: var(--color-text-primary);
    }
    h3 {
      color: var(--color-text-tertiary);
    }
  }
  .main-info,
  .more-info {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }
  .more-info {
    background-color: var(--color-background-elevation-2);
    padding: $spacing-2;
    border-radius: 0.5rem;
  }
  .key-value-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-0-5;
    p {
      @include text-style-p-small;
      color: var(--color-text-tertiary);
    }
    h4 {
      color: var(--color-text-primary);
    }
  }
  img,
  .main-info,
  .more-info {
    transition: all 0.3s ease-out;
    &:hover {
      @include tranform-scale-on-hover;
    }
  }

  @include media-query-for(mobile) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    height: 100%;
    overflow-y: scroll;
    img {
      width: 100vw;
      border-radius: 0;
    }
    .song-info {
      width: 100vw;
      padding: $spacing-2;
      justify-content: flex-start;
      gap: $spacing-4;
      .main-info {
        gap: $spacing-1;
        h1 {
          @include text-style-h2;
        }
      }
      .more-info {
        flex-direction: row;
        padding: $spacing-1-5;
        gap: $spacing-1-5;
        .key-value-container {
          width: 50%;
          min-width: 0;
        }
        h4 {
          @include text-style-h5;
          @include text-overflow;
        }
      }
    }
  }
}
