@import "./styleguide-variables.scss";

.song-container {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-5;
  cursor: url(.././assets/headphones-cursor.svg), auto;
  img {
    width: 20rem;
    border-radius: 1.5rem;
  }
  .song-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    h1,
    h4 {
      color: var(--color-text-primary);
    }
    h3 {
      color: var(--color-text-tertiary);
    }
  }
  .main-info,
  .more-info {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }
  .more-info {
    background-color: var(--color-background-elevation-2);
    padding: $spacing-2;
    border-radius: 0.5rem;
  }
  .key-value-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-0-5;
    p {
      @include text-style-p-small;
      color: var(--color-text-tertiary);
    }
    h4 {
      color: var(--color-text-primary);
    }
  }
  img,
  .main-info,
  .more-info {
    transition: all 0.3s ease-out;
    &:hover {
      @include tranform-scale-on-hover;
    }
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}
